/**
 * Put all of your styles for your element in here!
 * @required
 *
 * Variables from settings
 * @title_background
 * @content_background
 */

@content-background: @content_background;
@title-background: @title_background;

/**
 * Other variables that get reused
 */
@light-multiplier: #E0E0E0;
@dark-multiplier: #BDBDBD;

@expand-sign: '+';
@collapse-sign: '\2013';
@title-height: 50px;
@gutter: 20px;
@transition: 500ms ease;

/**
 * Text Field Overrides
 */
.paragraph {
    padding: 0 !important;
    margin: 0 !important;
    line-height: @title-height;
}

.editable-text {
    line-height: @title-height;
}

.accordion {
    padding: @gutter 0;
    
    &--simple {
        .base-style();
    }
    &--material {
        .base-style();
        .material-style();
    }
    &--box {
        .base-style();
        .box-style();
    }
}

.base-style() {
    .accordion__item {
        width: 100%;
        display: block;
        position: relative;
        margin-bottom: 0;
        background-color: #FFFFFF;
        height: 100%;
        box-sizing: border-box;
        
        .accordion__title {
            width: 100%;
            background-color: @title-background;
            height: @title-height;
            line-height: @title-height;
            padding: 0 @gutter;
            font-weight: bold !important;
            text-transform: uppercase;
            box-sizing: border-box;
            font-size: 1.25rem;
            transition: 250ms ease;
            opacity: 0.75;

            span {
                opacity: 0.5;
            }
            
            &::after {
                content: @expand-sign;
                position: absolute;
                float: right;
                top: 0;
                right: @gutter;
                font-size: 1.25em;
                opacity: 0.5;
            }
            
            &:hover {
                cursor: pointer;
                opacity: 1;
                
                span {
                    opacity: 1;
                }

                &::after {
                    content: @expand-sign;
                }
            }
        }
        
        .accordion__content {
            width: 100%;
            box-sizing: border-box;
            font-size: 1rem;
            max-height: 0;
            overflow: hidden;
            transition: 500ms ease;
            padding: 0 @gutter;
            background-color: @content-background;
        }
        
        &.active {
            .accordion__title {
                background-color: @content-background;
                
                span {
                    opacity: 1;
                }

                &::after {
                    content: @collapse-sign;
                }
            }

            .accordion__content {
                max-height: 1000px;
                transition: 500ms ease;
                padding: 0 @gutter @gutter;
            }
        }
    }
}

.material-style() {
    @box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    
    .accordion__item {
        margin-bottom: 1px;
        box-shadow: none;
        transition: 500ms ease;
        z-index: 1;
         
        &:hover {
            box-shadow: @box-shadow;
            z-index: 3;
        }
        
        &.active {
            box-shadow: @box-shadow;
            z-index: 3;
        }
    }
}

.box-style() {
    @border-dark: 1px solid multiply(@content-background, @dark-multiplier);
    @border-light: 1px solid multiply(@title-background, @light-multiplier);
    
    .accordion__item {
        transition: 250ms ease;
        border: @border-light;
        z-index: 1;
        
        &:hover {
            border: @border-light;
            z-index: 3;
        }
        
        &.active {
            border: @border-dark;
            z-index: 3;
        }
    }
}
